name: Keep Supabase Project Active

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch: 

jobs:
  ping_supabase:
    runs-on: ubuntu-latest
    steps:
      - name: Send Ping Request
        run: |
          curl -X GET "${{ secrets.BIKEMATH_URL }}/rest/v1/feedback?limit=1" \
          -H "apikey: ${{ secrets.BIKEMATH_ANON_KEY }}" \
          -H "Authorization: Bearer ${{ secrets.BIKEMATH_ANON_KEY }}"
